.imgSize {
	height: 150px;
	width: 225px;
}

.col-md-2 {
	padding: 5px;
}

.blankRow {
	height: 100px;
}

.enemyImage {
	height: 150px;
	width: 225px;
}

#enemyRey {

}

#enemyFinn {

}

#enemyKylo {

}

#enemyPhasma {
	
}